/**
 * Form Renderer Styles
 */

.form-render {

	div[class$="-wrapper"] {
		overflow: hidden;
	}

	select, textarea, input[type="file"] {
		margin-bottom: 10px;
	}

	.action-wrapper {

		.form-actions {

			div[class*="-wrapper"] {
				display: inline;
				margin-right: 25px;

				&:last-child {
					margin-right: 0;
				}

			}

		}

	}
}