/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.wizard {
  border: 1px solid #d4d4d4;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}
.wizard:before,
.wizard:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.wizard:after {
  clear: both;
}
.wizard ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  width: 4000px;
}
.wizard ul li {
  float: left;
  margin: 0;
  padding: 0 20px 0 30px;
  height: 46px;
  line-height: 46px;
  position: relative;
  background: #ededed;
  color: #999999;
  font-size: 16px;
  cursor: default;
}
.wizard ul li .chevron {
  border: 24px solid transparent;
  border-left: 14px solid #d4d4d4;
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: 0;
  z-index: 1;
}
.wizard ul li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #ededed;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
}
.wizard ul li.complete {
  background: #f3f4f5;
  color: #468847;
}
.wizard ul li.complete:hover {
  background: #e7eff8;
  cursor: pointer;
}
.wizard ul li.complete:hover .chevron:before {
  border-left: 14px solid #e7eff8;
}
.wizard ul li.complete .chevron:before {
  border-left: 14px solid #f3f4f5;
}
.wizard ul li.active {
  background: #f1f6fc;
  color: #3a87ad;
}
.wizard ul li.active .chevron:before {
  border-left: 14px solid #f1f6fc;
}
.wizard ul li .badge {
  margin-right: 8px;
}
.wizard ul li:first-child {
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}
.wizard .actions {
  z-index: 1000;
  position: absolute;
  right: 0;
  line-height: 46px;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  background-color: #e5e5e5;
  border-left: 1px solid #d4d4d4;
}
.wizard .actions a {
  line-height: 45px;
  font-size: 12px;
  margin-right: 8px;
}
.wizard .actions .btn-prev i {
  margin-right: 5px;
}
.wizard .actions .btn-next i {
  margin-left: 5px;
}
.step-content .step-pane {
  display: none;
}
.step-content .active {
  display: block;
}
.step-content .active .btn-group .active {
  display: inline-block;
}
